@import 'jeet/index';
@import 'config';

// @include edit();

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	font-family: 'Open Sans', 'Helvetica Neueu', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	background-color: #ecf0f1;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1em;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

header {
	@include cf();
	@include stack();
	@include center(100%, 15%);
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #2980b9;
	@include medium-up() {
		@include center(100%, 15%);
		padding-top: 2em;
		padding-bottom: 2em;
	}
	div#masthead {
		@include cf();
		@include stack();
		margin-bottom: 1em;
		text-align: center;
		padding: 0.5em;
		a {
			color: #ffffff;
			display: inline-block;
			text-align: center;
			border-radius: 3px;
			border-top: 2px solid #ffffff;//#C60000;
			border-bottom: 2px solid #ffffff;//#C60000;
			padding: 0.75em;
		}
		@include medium-up() {
			@include col(3/10 7/10);
			margin-bottom: 0;
		}
	}
	div.logged-in {
		@include cf();
		text-align: center;
		@include span(10/10);
		@include medium-up() {
			@include col(4.6/10 7/10, 2.3/10);
		}
		> p {
			text-align: center;
			@include medium-up() {
				text-align: right;
			}
		}
		div.button {
			@include col(5/10);
			@include medium-up() {
				@include cf();
				@include col(5/10 4/10);
			}
			> a {
				display: block;
				text-align: center;
			}
		}
	}
	div.not-logged-in {
		@include cf();
		text-align: center;
		@include span(10/10);
		@include medium-up() {
			@include col(3.7/10 7/10, 3/10);
		}
	}
	div#create-post {
		@include stack();
		@include medium-up() {
			@include span(10/10);
			> a {
				float: right;
			}
		}
	}
	div.button {
		@include col(5/10 10/10);
		padding: 0.5em;
		margin-bottom: 0.5em;
		// background-color: #F38630;
		background-color: #2c3e50;
		text-align: center;
		a {
			color: #F7F7F7;
		}
	}
}

main {
	@include center(100%, 5%);
	padding-top: 2em;
	min-height: 400px;
	padding-bottom: 400px;
	@include medium-up() {
		@include center(75%);
	}
	div#filter-posts {
		padding-top: 1em;
		label {
			display: block;
			font-weight: 700;
			margin-bottom: 1em;
		}
		select {
			@include col(7.5/10 10/10);
			background: url('../images/select-bg.png') no-repeat;
			background-size: 20px;
			background-position: 95% 40%;
			@include medium-up() {
				@include col(3/10 10/10)
			}
		}
	}
	article h2 > a {
		color: #2c3e50;
	}
	p.read-more > a {
		background-color: #d35400;
		color: #f7f7f7;
		border-radius: 3px;
	}
	div#all-posts {
		article {
			margin-bottom: 1.5em;
			padding-bottom: 1.5em;
			border-bottom: 1px solid #a8a8a8;
		}
	}
	ul.pager {
		padding-top: 2em;
		@include center(100%, 10%);
		li {
			@include col(5/10);
			span {
				@include span(10/10);
				display: inline-block;
				text-align: center;
			}
		}
	}
	div#login, div#register {
		@include center(90%);
		text-align: center;
		ul {
			li {
				margin-bottom: 1em;
				label {
					display: block;
					margin-bottom: 0.75em;
				}
				input#email, input#password, input#name {
					width: 80%;
					padding: 0.5em;
					line-height: 1em;
					font-size: 1em;
				}
				input[type="submit"] {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					font-size: 1em;
					width: 60%;
					line-height: 1.5em;
					padding: 0.7em;
					border: 0px;
					border-radius: 3px;
					background-color: #34495e;
					color: #ecf0f1;
				}
			}
		}
		@include medium-up() {
			@include center(35%);
		}
	}
	p.post-body {
		padding-left: 1.5em;
	}
	div.comments {
		h2 {
			display: inline-block;
			border-bottom: 3px solid #cccccc;
		}
		p.comment-body {
			padding-left: 1.5em;
		}
		p.note {
			a {
				text-decoration: underline;
			}
		}
	}
}

input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 1em;
	line-height: 1em;
	padding: 0.5em;
	border: 0px;
	border-radius: 3px;
	background-color: #34495e;
	color: #ecf0f1;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 1em;
	line-height: 1em;
	padding: 0.5em;
}

ul#post-list {
	li {
		@include cf();
		@include span(10/10);
		margin-bottom: 1em;
		border-bottom: 1px solid #ccc;
		padding-bottom: 1em;
		&:last-child {
			border-bottom: 0px;
		}
		a {
			@include stack();
			@include medium-up() {
				@include col(8/10 10/10);
			}
		}
		form.destroy {
			@include medium-up() {
				@include col(1.5/10 10/10);
				text-align: center;
			}
			input.delete {
				@include stack();
				background-color: #a80000;
				color: #F7F7F7;
				border-radius: 3px;
				border: 0px;
				padding: 1em;
				font-size: 0.75em;
			}
		}
	}
}

div#view-choice {
	@include center(100%);
	text-align: center;
	padding-bottom: 2em;
	text-transform: uppercase;
	font-size: 0.95em;
	margin-bottom: 1em;
	a {
		color: #2c3e50;
		border-radius: 3px;
		&.button {
			padding: 0.5em;
			margin-bottom: 0.5em;
			background-color: transparent;
			border: 1px solid #a8a8a8;
			text-align: center;
		}
		&.active {
			background-color: #a8a8a8;
			color: #ffffff;
		}
	}
}

div.active {
	display: block;
}

div.inactive {
	display: none;
}

div#default {
	text-align: center;
	margin-bottom: 2em;
}

ul#post-create {
	list-style: none;
	li {
		margin-bottom: 1em;
		label {
			display: block;
			margin-bottom: 0.75em;
		}
		input#title, textarea#body {
			width: 80%;
			padding: 0.5em;
			line-height: 1em;
			font-size: 1em;
		}
	}
}

ul#filter-form {
	li {
		@include cf();
		@include stack();
		margin-bottom: 1em;
	}
}

div#filtered-results {
	span {
		display: block;
		// border-bottom: 1px solid;
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
	}
}

ul#filtered-posts-list {
	li {
		margin-bottom: 2em;
		border-left: 2px solid;
		padding-left: 0.5em;
		a {
			font-weight: 700;
			color: #7E7C7C;
		}
	}
}

ul#create-comment {
	li {
		margin-bottom: 1em;
	}
}

ul#comments-list {
	li {
		margin-bottom: 1em;
		width: 100%;
		&:last-child {
			border-bottom: 0px;
		}
		@include medium-up() {
			width: 50%;
			border-bottom: 1px solid #cccccc;
		}
		> p {
			padding-left: 1.5em;
		}
	}
}

p.button > a, input.button {
	padding: 0.5em;
}

p.created_at {
	font-size: 0.8em;
}

footer {
	@include center(100%, 5%);
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #2c3e50;
	color: #ffffff;
	div.container {
		a {
			text-decoration: underline;
			color: #ffffff;
		}
	}
}